<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Developers</h3>

            </div>
            <div class="panel-body">
                <input placeholder="Nombre" ng-model="categoriaNueva.nombre" type="text" name="nombre" required>
                <input placeholder="Puntaje requerido" ng-model="categoriaNueva.start" type="number" name="puntaje" required>
                <div class="pull-right">
                    <button type="button" ng-click="agregarCategoria(categoriaNueva)" class="btn btn-success">
                        <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-plus"></i>
					    </span>
                    </button>
                </div>
            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Puntaje Requerido</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="categoria in categorias | orderBy: 'start'">
                        <td>{{ categoria.nombre }}</td>
                        <td>{{ categoria.start }}</td>
                        <td>
                            <button type="button" class="btn btn-danger">
                                <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                        <i class="glyphicon glyphicon-minus"></i>
                                </span>
                            </button>
                            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-warning">
                                <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                            </button>
                        </td>
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Editar Categoria</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input ng-model="categoria.nombre" type="text" name="nombre" required>{{categoria.nombre}}</input>
                                        <input ng-model="categoria.start" type="number" name="puntaje" required>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" ng-click="editarCategoria(categoria)" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>