<div class="container">
    <div id="blog" class="row">

        <div class="col-sm-2 paddingTop20">
            <nav class="nav-sidebar" >
                <ul class="nav">
                    <li class style="background-color: #f4ca5d"><a ng-href="#!/comprar">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        Comprar Creditos</a></li>
                    <li><a ng-href="#!/publicargauchada">Publicar gauchada</a></li>
                    <li class="nav-divider"></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10 blogShort">
            <div ng-repeat="gauchada in gauchadas">
            <img src="{{ gauchada.imagen }}" alt="post img" class="" style="width:400px;height:400px">
            <h1>{{ gauchada.titulo }}</h1>
            <article>
                <p>
                    {{ gauchada.descripcion }}
                </p>
            </article>
            <a class="btn btn-blog marginBottom10" style="width: 100px"ng-click="ver()">Ver</a>
            <br><br>
            <hr>
            </div>
        </div>
    </div>
</div>