<div class="container">
    <div class="row">
        <div ng-show="usuario.id == usuarioActual.id" class="col-md-2  toppad  pull-right ">
            <A ng-href="#!/editarperfil">Editar Perfil</A>
            <br>
        </div>
        <div class="col-xs-12">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Perfil de {{ usuarioActual.nombre }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{ usuarioActual.avatar }}" class="img-circle img-responsive"> 
                        <span>Categoria: {{ usuarioActual.categoria.nombre }}</span><p/>
                        <span>Puntaje: {{ usuarioActual.puntaje }}</span><p/>
                        <span>Creditos: {{ usuarioActual.credito }}</span>
                        </div>

                        <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr ng-show="usuario.id == usuarioActual.id">
                                        <td >Email:</td>
                                        <td><a href="mailto:{{ usuarioActual.email }}">{{ usuarioActual.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>Nombre:</td>
                                        <td>{{ usuarioActual.nombre }}</td>
                                    </tr>
                                    <tr>
                                        <td>Apellido:</td>
                                        <td>{{ usuarioActual.apellido }}</td>
                                    </tr>
                                    <tr>
                                        <tr ng-show="usuario.id == usuarioActual.id">
                                            <td>Telefono:</td>
                                            <td>{{ usuarioActual.telefono }}</td>
                                        </tr>
                                        <tr>
                                    </tr>
                                </tbody>
                            </table>

                            <a href="#" ng-show="usuario.id == usuarioActual.id" class="btn btn-primary">Ver gauchadas publicadas</a>
                                            <a href="#" ng-show="usuario.id == usuarioActual.id" class="btn btn-primary">Ver ofertas realizadas</a>
                        </div>
                    </div>
                </div>
                <div ng-show="usuario.id == usuarioActual.id" class="panel-footer">
                    <a ng-href="#!/editarperfil" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
         
                </div>

            </div>
        </div>
    </div>
</div>