<div ng-controller="GauchadacontrollerCtrl" class="col-md-12 blogShort">
    <div class="well">
        <div class="media">
            <div class="post-img-content">
                <img ng-src="{{ gauchadaActual.imagen }}" class="img-responsive" alt="post img" style="width:630px;height:400px" />
            </div>
            <br>
            <div class="media-body">
                <h4 class="media-heading">{{ gauchadaActual.titulo }}</h4>
                <p class="text-right"></p>
                <p>{{ gauchadaActual.descripcion }}</p>
                <ul class="list-inline list-unstyled">
                    <li><span><i class="glyphicon glyphicon-calendar"></i> Iniciado: {{ gauchadaActual.fechaInicio | date: 'dd-MM-yyyy' }} </span></li>
                    <li>|</li>
                    <span></i> Fecha limite: {{ gauchadaActual.fechaFin | date: 'dd-MM-yyyy' }}</span>
                </ul>
            </div>
        </div>
    </div>
    <div class="post-comments">
        <form>
            <div class="form-group">
                <label for="comment">Escribe una pregunta</label>
                <textarea name="comment" class="form-control" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-default">Enviar</button>
        </form>
    </div>
    <br>
</div>