<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Ranking de Usuarios</h3>

            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                    <tr>
                        <th>Nombre y Apellido</th>
                        <th>Categoria</th>
                        <th>Puntaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="usuario in usuarios | orderBy: 'puntaje'">
                        <td>{{ usuario.nombre }} {{ usuario.apellido}}</td>
                        <td>{{ usuario.nombreCat }}</td>
                        <td>{{ usuario.puntaje }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>